* {
    box-sizing: border-box;
}

body {
    color: black;
    font-size: 14px;
    background-size: 100%;
    line-height: 1.4;
    font-family: 'Roboto Sans', sans-serif;
}

header {
    background-color: #686767;
    display:list-item;
}

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    margin-bottom: 25;
}

.logo {
    max-width: 100px;
}

.navegador {
    color: #fff;
    display: flex;
}

.navegador izquierdo {
    float: left;
    text-align: center;
    padding-left: 100px;
}

.navegador derecho {
    color: #fff;
    font-size: 12px;
    float: right;
    text-align: right;
    padding-right: 100px;
    display: flex;
    justify-content: end;
}

.nav-link {
    color: #fff;
}

.presentacion {
    background-image: url(/fotos/ba2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    display: flex;
    justify-content: end;
}

.presentacion .info {
    max-width: 300px;
    text-align: left;
    color:#fff;
}

.oradores {
    text-align: center;
}

/** tarjetas*/

.cards {
    display: flex;
    justify-content: center;                   
    padding: 16px;
}

.card {
    width: 200px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid rgba(0, 0,0,12);
    border-radius: 8px;
}
.card .top {
    margin-bottom: 12px;
}
.card .top img {
    inline-size: auto;
    width: 100%;
    height: 240px;
    float: center;
    border: 1px solid rgba(0, 0,0,12);
}

.card .bottom h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 16px;
}

.card .bottom p {
    font-size: 16px;
    line-height: 1.3;
}

.imagen-partida {
    display: flex;
    justify-content: center;                   
}

.imagen-izq {
    width: 50%;
    background-color: rgb(69, 68, 68);
    display: inline-block;
}

.octubre {
    width: 50%;
    background-color: rgb(69, 68, 68);
    display: inline-block;
}

.imagen-izq .izq img {
    inline-size: auto;
    width: 100%;
    height: 100%;
    float: center;
}

.octubre .top img {
    inline-size: auto;
    width: 100%;
    height: 100%;
    float: center;
}

.octubre .text h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 16px;
}

.octubre .text p {
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
}

